%%% -*- mode: erlang -*-
{minimum_otp_vsn, "18.0"}.

{erl_opts,
 [
  debug_info,
  %% bin_opt_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  % warnings_as_errors,
  {parse_transform, lager_transform}
 ]
}.

{deps, [
        {lager, "2.1.1"},
        {riakc, "2.1.1"},
        {poolboy, "1.5.1"},
        {folsom, "0.8.3"}
       ]
}.

{dialyzer, [
    {warnings, [no_return, unmatched_returns, error_handling]},
    {plt_extra_apps, [folsom, poolboy, riakc]}
]}.
